<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:framework:ObjectManager/etc/config.xsd">
    <type name="Magento\Quote\Model\BillingAddressManagement">
        <plugin name="Improntus_Ando::BillingAddressManagement" sortOrder="10" type="Improntus\Ando\Plugin\Magento\Quote\Model\BillingAddressManagement"/>
    </type>
    <type name="Magento\Quote\Model\ShippingAddressManagement">
        <plugin name="Improntus_Ando::ShippingAddressManagement" sortOrder="10" type="Improntus\Ando\Plugin\Magento\Quote\Model\ShippingAddressManagement"/>
    </type>
    <type name="Magento\Checkout\Model\PaymentInformationManagement">
        <plugin name="Improntus_Ando::PaymentInformationManagement" sortOrder="10" type="Improntus\Ando\Plugin\Checkout\Model\PaymentInformationManagement"/>
    </type>
    <type name="Magento\Checkout\Model\ShippingInformationManagement">
        <plugin name="Improntus_Ando::ShippingInformationManagementPlugin" type="Improntus\Ando\Plugin\Checkout\ShippingInformationManagement" sortOrder="10"/>
    </type>
</config>